# 忽略数据文件夹
data/
*.jpg
*.jpeg
*.png
*.gif
*.webp

# Python
__pycache__/
*.py[cod]
*$py.class

# PyQt
*.ui.venv/

venv/
tempCodeRunnerFile.py

*.AppImage
AppDir/

build_config.py
BUILD.md
build.py
build.sh
create_ico copy.py
create_ico.py

build/
dist/
*.spec

